.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.connect {
    text-align: left;
}

.row {
    text-align: center;
    padding:25px 50px 75px 100px ;
}
h1 {
    text-align: center;
    text-decoration: underline;
}

footer {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #007bff;
}
.footAbout {
    padding: 10px;   
    text-align: center;
    color: white;
    background-color: #007bff;
}

.footSub {
    padding: 60px;
    height: fit-content;
    text-align: center;
    color: white;
    background-color: #007bff;
}